body {

    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);

}

.contentBody {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}
.formBtnRightAlligned {
    display: flex;
    justify-content: flex-end;
}
.appContent{

}