body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}
a {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

}
.loginGrid {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 70vh !important;
}

.loginColumn {
  max-width: 450px;
}
.contentBody {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
.formBtnRightAlligned {
  display: flex;
  justify-content: flex-end;
}

.centerGridItems {
  display: flex !important;
  justify-content: center !important;
}

.inputTextAreaHeight
{
  height: 50px !important;
}
.text-break{ word-wrap: break-word; }